body{
    background-color: rgb(42, 39, 39);

    main{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
        padding: 20px;
        .pokemon-card{
            text-align: center;
            width: 100%;
            background-color: red;
        }
    }
}