@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: Proxima Nova, system-ui, sans-serif;
    }
  }

  .active{
    color:red;

  }
  .pokeballCursor{
    cursor: url("https://image.emojipng.com/727/13737727.jpg"), auto;
  }
  
